<template>
  <main class="container">
    <router-view></router-view>
  </main>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
@import './assets/css/normalize.css';
@import './assets/css/skeleton.css';
@import './assets/css/colours.css';
@import './assets/css/fonts.css';

* {
  moz-box-sizing: border-box;
  box-sizing: border-box;
}
*&, &:before, &:after {
  moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Monkey Island 1991', monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: url('./assets/img/melee-island.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  margin: 2rem 0 2rem 0;
}
button.button-secondary {
  color: #FFF;
  background-color: #04F06A;
  border-color: white;
}
button.button-secondary:hover, button.button-secondary:focus {
  color: #FFF;
  background-color: #04F06A;
  border-color: white;
}
button.button-warning {
  color: #FFF;
  background-color: #6d5959ff;
  border-color: white;
}
button.button-warning:hover, button.button-warning:focus {
  color: #FFF;
  background-color: #6d5959ff;
  border-color: white;
}
</style>
