<template>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <Board
          :startingPlayer="startingPlayer()"
          :difficulty="difficulty()"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Board from '../components/Board.vue'

export default {
  name: 'Game',
  components: {
    Board
  },
  methods: {
    startingPlayer () {
      return Number(this.$route.query.startingPlayer) || 0
    },
    difficulty () {
      return Number(this.$route.query.difficulty) || 1
    }
  }
}
</script>
