<template>
  <div class="inner">
    <div class="row">
      <div class="header">
        <h1>Pieces of Eight</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="five columns" style="margin: 0 auto;">
        <img src="../assets/img/guybrush.png" alt="guybrush">
      </div>
      <div class="two columns" style="margin: 0 auto;">
        <button @click="$router.push({ path: '/rules' })" class="button-secondary">Rules</button>
      </div>
      <div class="five columns" style="margin: 0 auto;">
        <img src="../assets/img/lechuck.png" alt="lechuck">
      </div>
      <br>
    </div>
    <div class="row">
      <br>
      <div
        class="box starting">
        <label for="starting">Choose who starts...</label>
        <ul>
          <li
            :class="isSelected(startingPlayer, 1)"
            @click="setStartingPlayer(1)">Guybrush Threepwood (You)</li>
          <li
            :class="isSelected(startingPlayer, 0)"
            @click="setStartingPlayer(0)">Ghost Pirate LeChuck (Zombie Automaton)</li>
        </ul>
      </div>
      <div
        v-if="startingPlayer != null"
        class="box question">
        <label for="difficulty">Choose a difficulty...</label>
        <br>
        <ul>
          <li
            v-for="(text, i) in difficulties"
            :key=i
            :class="isSelected(difficulty, i)"
            @click="setDifficulty(i)">
            {{ text }}
          </li>
        </ul>
      </div>
      <br>
      <br>
      <div class="box answer">
        <p v-if="showAnswer">{{ this.difficultyAnswer }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data: () => ({
    difficulty: null,
    startingPlayer: null,
    showAnswer: false
  }),
  computed: {
    difficulties () {
      return {
        1: "I usually see people like you passed-out on tavern floors",
        2: "You're no match for my brains, you poor fool.",
        3: "There are no clever moves that can help you now.",
      }
    },
    difficultyAnswer () {
      return {
        1: "I'm glad to hear you attended your family reunion.",
        2: "I'd be in real trouble if you ever used them.",
        3: "Yes, there are. You just never learned them.",
      }[this.difficulty]
    },
    isSelected () {
      return (value, index) => {
        return value == index ? 'green' : ''
      }
    }
  },
  methods: {
    setDifficulty (difficulty) {
      this.difficulty = difficulty
      this.onReady()
    },
    setStartingPlayer (startingPlayer) {
      this.startingPlayer = startingPlayer
    },
    onReady() {
      this.showAnswer = true

      setTimeout(() => {
        this.$router.push({
          path: '/game',
          query: {
            difficulty: this.difficulty,
            startingPlayer: this.startingPlayer
          }
        })
      }, 2000)
    }
  }
}
</script>

<style>
h1, label {
  color: white;
}
.inner {
  padding: 3rem;
  width: 640px;
  margin: auto;
  height: 100vh;
  text-align: center;
}
li, p {
  cursor: pointer;
  color: white;
  font-size: 14pt;
}
li:hover, p:hover {
  color: #04F06A;
}
.green {
  color: #04F06A;
}
</style>
