<template>
  <div class="inner">
    <div class="row">
      <div class="header">
        <h1>Pieces of Eight</h1>
        <h2>Rules</h2>
      </div>
      <div class="box">
        <p>
          Ahoy there ye land lubbers. Pieces of Eight is a game for two scurvy swabs. Each swab receives twelve golden nuggets which are placed on the black squares on the board. Ye are Guybrush Threepwood, Mighty Pirate, and ye are challenging the fearsome Ghost Pirate LeChuck. Choose who starts, then select a difficulty, indicated by hurling an early insult at LeChuck. Once he's had a go at responding, the race to find the giant monkey head is underway.
        </p>
        <p>
          Black always moves first, and play proceeds alternately. Yer pieces of eight can only move diagonally forward, unless they're crowned Pirate Queen, in which case they can move diagonally in all directions. Pieces of Eight are claimed from LeChuck by hopping over his piece of eight into the adjacent square on the same diagonal. No hopping around corners!
        </p>
        <p>
          Ye can potentially steal multiple pieces of eight from LeChuck in one go, but its on ye to figure that out, or, if ye're a light-weight pirate and need someone to hold yer hand, ye can turn on hints which'll tell ye where ye can move. If a capture is available, ye must take it! If numerous captures are available, ye can pick yer poison.
        </p>
        <p>
         Once ye've sailed to the far side of the world, and found the buried treasure, yer crowned Pirate Queen. The lucky piece of eight can now move backwards as well as forwards. Ye can also be crowned Pirate Queen by murdering another Queen, but that doesnt happen very often, ye'll be lucky if LeChuck is so foolish.
        </p>
        <p>
          If LeChuck is making shark bait of ye, ye can ask the Sword Master for help. She'll probably have a little think before telling you what to do, and she might tell ye to sod off.
        </p>
        <p>
          Whoever loses the game, walks the plank!
        </p>
      </div>
    </div>
    <button @click="$router.push({ path: '/' })" class="button-secondary">Back</button>
  </div>
</template>

<script>
export default {
  name: 'Rules'
}
</script>

<style scoped>
h1, h2 {
  color: white;
}
.inner {
  padding: 3rem;
  width: 640px;
  margin: auto;
  height: 100vh;
  text-align: center;
}
p {
  color: white;
  font-size: 8pt;
}
p:hover {
  color: #04F06A;
}
.green {
  color: #04F06A;
}
</style>
