/* CSS HEX */
--powder-blue: #b2dde6ff;
--maximum-blue: #60bbd2ff;
--charcoal: #373f51ff;
--pearly-purple: #ae76a6ff;
--mimi-pink: #ffd6e0ff;

/* CSS HSL */
--powder-blue: hsla(190, 51%, 80%, 1);
--maximum-blue: hsla(192, 56%, 60%, 1);
--charcoal: hsla(222, 19%, 27%, 1);
--pearly-purple: hsla(309, 26%, 57%, 1);
--mimi-pink: hsla(345, 100%, 92%, 1);

/* SCSS HEX */
$powder-blue: #b2dde6ff;
$maximum-blue: #60bbd2ff;
$charcoal: #373f51ff;
$pearly-purple: #ae76a6ff;
$mimi-pink: #ffd6e0ff;

/* SCSS HSL */
$powder-blue: hsla(190, 51%, 80%, 1);
$maximum-blue: hsla(192, 56%, 60%, 1);
$charcoal: hsla(222, 19%, 27%, 1);
$pearly-purple: hsla(309, 26%, 57%, 1);
$mimi-pink: hsla(345, 100%, 92%, 1);

/* SCSS RGB */
$powder-blue: rgba(178, 221, 230, 1);
$maximum-blue: rgba(96, 187, 210, 1);
$charcoal: rgba(55, 63, 81, 1);
$pearly-purple: rgba(174, 118, 166, 1);
$mimi-pink: rgba(255, 214, 224, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-right: linear-gradient(90deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-bottom: linear-gradient(180deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-left: linear-gradient(270deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-top-right: linear-gradient(45deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-bottom-right: linear-gradient(135deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-top-left: linear-gradient(225deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-bottom-left: linear-gradient(315deg, #b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);
$gradient-radial: radial-gradient(#b2dde6ff, #60bbd2ff, #373f51ff, #ae76a6ff, #ffd6e0ff);

/* CSS HEX */
--powder-blue: #b2dde6ff;
--maximum-blue: #60bbd2ff;
--onyx: #454545ff;
--deep-taupe: #6d5959ff;
--spring-green: #04f06aff;

/* CSS HSL */
--powder-blue: hsla(190, 51%, 80%, 1);
--maximum-blue: hsla(192, 56%, 60%, 1);
--onyx: hsla(0, 0%, 27%, 1);
--deep-taupe: hsla(0, 10%, 39%, 1);
--spring-green: hsla(146, 97%, 48%, 1);

/* SCSS HEX */
$powder-blue: #b2dde6ff;
$maximum-blue: #60bbd2ff;
$onyx: #454545ff;
$deep-taupe: #6d5959ff;
$spring-green: #04f06aff;

/* SCSS HSL */
$powder-blue: hsla(190, 51%, 80%, 1);
$maximum-blue: hsla(192, 56%, 60%, 1);
$onyx: hsla(0, 0%, 27%, 1);
$deep-taupe: hsla(0, 10%, 39%, 1);
$spring-green: hsla(146, 97%, 48%, 1);

/* SCSS RGB */
$powder-blue: rgba(178, 221, 230, 1);
$maximum-blue: rgba(96, 187, 210, 1);
$onyx: rgba(69, 69, 69, 1);
$deep-taupe: rgba(109, 89, 89, 1);
$spring-green: rgba(4, 240, 106, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-right: linear-gradient(90deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-bottom: linear-gradient(180deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-left: linear-gradient(270deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-top-right: linear-gradient(45deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-bottom-right: linear-gradient(135deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-top-left: linear-gradient(225deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-bottom-left: linear-gradient(315deg, #b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
$gradient-radial: radial-gradient(#b2dde6ff, #60bbd2ff, #454545ff, #6d5959ff, #04f06aff);
