@font-face {
  font-family: "Monkey Island 1990";
  src: url('../fonts/MonkeyIsland-1990-refined.ttf') format('truetype');
}
@font-face {
  font-family: "Monkey Island 1991";
  src: url('../fonts/MonkeyIsland-1991-refined.ttf') format('truetype');
}
