<template>
 <div class="board-container">
    <div class="board">
      <div v-for="(draught, cellId) in board"
        class="tile"
        :id="cellId"
        :key="cellId"
        :class="[defaultTileColour(cellId), isHint(cellId), isBest(cellId)]"
        @drop="onDrop($event)"
        @dragover.prevent
        @dragenter.prevent>
        <Draught
          v-if="draught"
          :draughtId="draught.id"
          :playerId="draught.player_id"
          :startingPlayer="startingPlayer"
          :isQueen="draught.queen"
          draggable="true"
          @dragstart="onDragStart($event, draught, cellId)"
        />
      </div>
    </div>
    <div class="log">
      <textarea
        ref="log"
        id="log"
        name="log"
        v-model="getCurrentLog">
      </textarea>
    </div>
    <div class="buttons">
      <div style="display: grid">
        <span style="color: white">Hints:</span>
        <button
          class="button"
          :class="[ showHints ? 'button-secondary' : 'button-normal' ]"
          @click="toggleHints">
          {{ showHints ? 'ON' : 'OFF' }}
        </button>
        <br>
      </div>
      <div style="display: grid">
        <span style="color: white">Cheats:</span>
        <button
          class="button"
          :class="[ showCheats ? 'button-secondary' : 'button-normal' ]"
          @click="toggleCheats">
          {{ showCheats ? 'ON' : 'OFF' }}
        </button>
        <br>
      </div>
      <div style="display: grid">
        <span style="color: white">Back:</span>
        <button
          class="button button-normal"
          @click="$router.push({ path: '/' })">
          Back
        </button>
        <br>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Draught from '../components/Draught.vue'

// player ids
const AI = 0
const HUMAN = 1

// initialize AJAX requests to the server at port 5000
// set a 50 second timeout to allow waiting for search
const request = axios.create({
  baseURL: 'http://localhost:5000',
  timeout: 50000
})

export default {
  name: 'Board',
  components: {
    Draught,
  },
  props: {
    startingPlayer: {
      type: Number,
      default: HUMAN
    },
    difficulty: {
      type: Number,
      default: 1
    }
  },
  /**
   * store for the current board state, and other
   * variables which change what is rendered on the
   * game board, and store an array of messages for
   * rendering the log
   */
  data () {
    return {
      board: this.initializeBoard(),
      availableMoves: [],
      bestMove: {},
      winner: null,
      selected: null,
      showHints: true,
      showCheats: false,
      log: ['-- Pieces of Eight --']
    }
    // TODO: assuming player 1 starts the game
  },
  computed: {
    /**
     * apply a CSS class to highlight cells that
     * are the best move (when switched on)
     */
    isBest () {
      return (cellId) => {
        const isBest = this.bestMove.source == cellId || this.bestMove.destination == cellId
        return this.showCheats && isBest ? 'best' : ''
      }
    },
    /**
     * apply a CSS class to highlight cells that
     * are the valid moves for a single cell (when switched on)
     */
    isHint () {
      return (cellId) => {
        const isCurrent = this.selected == cellId
        const isNew = this.selected && this.isAvailableMove(cellId)
        return this.showHints && (isCurrent || isNew) ? 'hint' : ''
      }
    },
    getCurrentLog() {
      return this.log.join("\n")
    }
  },
  methods: {
    /**
     * callback for drag event of a human-controlled draught
     * cache the dragged item for on drop callback
     */
    onDragStart (event, draught, cellId) {
      if (draught.player_id == HUMAN) {
        this.selected = cellId
        event.dataTransfer.dropEffect = 'move'
        event.dataTransfer.effectAllowed = 'move'
        event.dataTransfer.setData('itemID', this.selected)
      } else {
        this.appendToLog(`-> Guybrush thats not your piece of eight`)
      }
    },
    /**
     * when a human drops a draught on a new location,
     * attempt to apply the move. errors will be rendered
     * and callbacks for AI activity won't execute unless
     * the move is valid, otherwise the AI follows up,
     * and finally new human moves are fetched
     */
    onDrop (event) {
      const destination = event.target.id
      const source = this.selected
      // always unset selected
      this.selected = null
      // if all values are set and the move is not the same cell, attempt to make the move
      if (destination && source && destination != source) {
        // first apply the human move
        this.postHumanMove(source, destination)
          // then apply the AI move
          .then(() => this.postAIMove())
          // then fetch latest human moves
          .then(() => this.getHumanMoves())
      }
    },
    /**
     * fetch all valid moves stored in component data
     * for a specific cell
     */
    getAvailableMoves (cellId) {
      const isValid = ([source, dests]) => parseInt(this.selected) == source && dests.includes(parseInt(cellId))
      return Object.entries(this.availableMoves).filter(isValid)
    },
    /**
     * check if a move is valid
     */
    isAvailableMove (cellId) {
      return this.getAvailableMoves(cellId).length
    },
    /**
     * set the position of a draught
     */
    setPosition (source, destination) {
      this.board[destination] = this.board[source]
      this.board[source] = null
    },
    /**
     * hints highlights areas of the board
     * that are valid moves
     */
    toggleHints () {
      if (this.winner) {
        return this.appendToLog(`-> The jig is up, you realise that right?`)
      }
      this.showHints = !this.showHints
      if (this.showHints) {
        this.appendToLog(`-> Do you really not know how to play this game?`)
      } else {
        this.appendToLog(`-> Stand aside Troll, I'm a mighty pirate`)
      }
    },
    /**
     * cheats provide the human with suggestions
     * using the minimax search algorithm
     * switch cheats on / off
     */
    toggleCheats () {
      if (this.winner) {
        return this.appendToLog(`-> The jig is up, you realise that right?`)
      }
      this.showCheats = !this.showCheats
      if (this.showCheats) {
        if (this.currentPlayer == HUMAN) {
          this.appendToLog(`-> Being a pirate is a pretty good excuse for most things`)
          this.fetchBestMove()
        }
      } else {
        this.appendToLog(`-> Good lad. No hornswaggling`)
      }
    },
    /**
     * creates a new game using the starting player
     * and the provided difficulty in props
     * then updates the board with the layout
     * provided by the back-end
     */
    createNewGame () {
      return new Promise((resolve, reject) => {
        request.post(`/game`, {
          player_id: this.startingPlayer,
          difficulty: this.difficulty
        }).then(({ data }) => {
          this.board = data.board
          return resolve()
        }).catch((err) => {
          const error = err.response.data.error
          this.appendToLog(`-> Guybrush ${error.message}`)
          return reject()
        })
      })
    },
    /**
     * fetches available moves and best moves
     * using decoupled asychronous requests
     */
    getHumanMoves () {
      if (this.winner) return
      this.currentPlayer = HUMAN
      this.fetchAvailableMoves()
      if (this.showCheats) this.fetchBestMove()
    },
    /**
     * API call applies the desired move using the
     * provided source and destination tiles
     * then clears any possible best move suggestions
     * and updates the entire board, if the player wins
     * then sets the game winner
     */
    postHumanMove (source, destination) {
      if (this.winner) return
      return new Promise((resolve, reject) => {
        request.post(`/move/${HUMAN}`, {
          source,
          destination
        }).then(({ data }) => {
          const [i, j] = this.cellIdToCoord(source)
          const [k, l] = this.cellIdToCoord(destination)
          // append the move to the log
          this.appendToLog(`-> Guybrush moves from (${i}, ${j}) to (${k}, ${l})`)
          // reset best move
          this.bestMove = {}
          // update the board
          this.board = data.board
          this.winner = data.winner
          if (this.winner != null) {
            this.appendToLog(`-> LeChuck walks the plank!`)
          }
          return resolve()
        }).catch((err) => {
          const error = err.response.data.error
          this.appendToLog(`-> Guybrush ${error.message}`)
          return reject()
        })
      })
    },
    /**
     * API calls first searches for the best AI move,
     * then applies that move to the state on the back-end
     * using a separate request, then updates the board
     * with each of then n possible moves in a move chain
     * then re-renders the entire board state with the final
     * to apply any possible queen transformations
     */
    postAIMove () {
      if (this.winner) return
      this.currentPlayer = AI
      return new Promise((resolve, reject) => {
        // append to log
        this.appendToLog(`-> LeChuck is thinking...`)
        // fetch AI moves
        request.get(`/moves/${AI}/search`).then(({ data }) => {
          if (!data.move) {
            this.winner = HUMAN
            this.appendToLog(`-> LeChuck walks the plank!`)
            return resolve()
          }
          // unpack the move
          let { source, destination } = data.move
          this.appendToLog(`-> LeChuck considered ${data.evaluations} different outcomes`)
          // apply the move on the back-end
          request.post(`/move/${AI}`, data.move).then(({ data }) => {
            const [i, j] = this.cellIdToCoord(source)
            const [k, l] = this.cellIdToCoord(destination)
            // append move details to log
            this.appendToLog(`-> LeChuck moves from (${i}, ${j}) to (${k}, ${l})`)
            // apply the move in the UI
            // stagger each move with a timeout
            this.applyMoveChain(data.moves, () => {
              // fetch the latest board state
              this.board = data.board
              this.winner = data.winner
              if (this.winner != null) {
                this.appendToLog(`-> Guybrush walks the plank!`)
              }
              return resolve()
            })
          }).catch(handleError)
        }).catch(handleError)

        function handleError (err) {
          const error = err.response.data.error
          this.appendToLog(`-> LeChuck ${error.message}`)
          reject()
        }
      })
    },
    /**
     * API call fetches all possible moves for the human
     * and stores the results in component data
     */
    fetchAvailableMoves () {
      // fetch and cache the available moves for the human
      return new Promise((resolve, reject) => {
        request.get(`/moves/${HUMAN}`).then(({ data }) => {
          // if the player can't move, AI wins!
          if (!Object.keys(data.moves).length) {
            this.winner = AI
            return resolve()
          }
          this.availableMoves = data.moves
          resolve()
        }).catch((err) => {
          const error = err.response.data.error
          this.appendToLog(`-> Guybrush ${error.message}`)
          reject()
        })
      })
    },
    /**
     * API call searches for the best move for the human
     * and stores the result in component data
     */
    fetchBestMove () {
      return new Promise((resolve, reject) => {
        // append to the log
        this.appendToLog(`-> Asking the Sword Master for recommendations...`)
        // search for the best moves for the human
        request.get(`/moves/${HUMAN}/search`, { params: {
          max_depth: 10,
          max_evaluations: 500000
        }}).then(({ data }) => {
          // append to log
          const [i, j] = this.cellIdToCoord(data.move.source)
          const [k, l] = this.cellIdToCoord(data.move.destination)
          this.appendToLog(`-> The Sword Master considered ${data.evaluations} different outcomes`)
          this.appendToLog(`-> The Sword Master recommends moving from (${i}, ${j}) to (${k}, ${l})`)
          // cache the best move
          this.bestMove = data.move
          resolve()
        }).catch((err) => {
          const error = err.response.data.error
          this.appendToLog(`-> Guybrush ${error.message}`)
          reject()
        })
      })
    },
    /**
     * applies a series of moves with a 500ms timeout
     * between each move, used for nested capture moves
     */
    applyMoveChain (moves, callback) {
      const self = this
      next(0)

      function next (i) {
        const move = moves[i]
        if (!move) return callback()
        const [source, destination, captured] = move
        if (captured) self.board[captured] = null
        self.setPosition(source, destination)
        setTimeout(() => next(i + 1), 500)
      }
    },
    /**
     * sets the default game state on component load
     * before the back-end overwrites
     */
    initializeBoard () {
      const board = {}
      for (let cellId = 0; cellId < 64; cellId++) {
        board[cellId] = null
        const [i, j] = this.cellIdToCoord(cellId)
        if ((i % 2 == 0 && j % 2 == 1) || (i % 2 == 1 && j % 2 == 0)) {
          if (cellId < 24) {
            board[cellId] = { playerId: AI }
          } else if (cellId > 39) {
            board[cellId] = { playerId: HUMAN }
          }
        }
      }
      return board
    },
    /**
     * transforms an integer to a coordinate
     */
    cellIdToCoord(cellId) {
      const i = parseInt(cellId / 8)
      const j = cellId % 8
      return [i, j]
    },
    /**
     * transforms an (i, j) coordinate to an integer
     */
    coordToCellId(i, j) {
      return (i * 8) + j
    },
    /**
     * sets fixed tile colours
     */
    defaultTileColour (cellId) {
      const [i, j] = this.cellIdToCoord(cellId)
      if (i % 2 == 0 && j % 2 == 0) {
        return 'white'
      } else if (i % 2 == 0 && j % 2 == 1) {
        return 'black'
      } else if (i % 2 == 1 && j % 2 == 0) {
        return 'black'
      } else if (i % 2 == 1 && j % 2 == 1) {
        return 'white'
      }
    },
    /**
     * appends to the text area
     * capturing game state text annotations
     */
    appendToLog (message) {
      this.log.push(message)
      const el = this.$refs['log']
      setTimeout(() => el.scrollTop = el.scrollHeight, 100)
    },
    /**
     * initialize a new game
     */
    initialize () {
      this.board = this.initializeBoard()
      // create a new game based on the starting player
      this.createNewGame().then(() => {
        // if the Ai is starting, make their move, then get human moves
        if (this.startingPlayer == AI) {
          this.postAIMove().then(() => this.getHumanMoves())
        // otherwise the player started, so just get human moves
        } else {
          this.getHumanMoves()
        }
      })
    }
  },
  /**
   * called when component is first rendered
   * creates a new game instance, then applies
   * the relevant move (HUMAN or AI)
   */
  mounted() {
    this.initialize()
  }
}
</script>

<style scoped>
.board-container {
  width: 480px;
  margin: auto;
}
.board {
  width: 480px;
  height: 480px;
  margin: 20px 0 20px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.board + .board {
  border: 4px solid white;
}
.tile {
  float: left;
  width: 60px;
  height: 60px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.black {
  background-color: #60bbd2;
}
.white {
  background-color: #b2dde6;
}
.hint {
  background-color: #AE76A6;
}
.tile + .best {
  border: 4px solid #04F06A;
}
button {
  float: right;
}
textarea {
  font-size: 8pt;
  width: 480px;
  height: 20rem;
}
</style>
