<template>
  <div
    v-if="playerId != undefined"
    class="draught circle"
    @click="onClick"
    @draggable="true"
    @dragstart="onDragStart"
    :class="[ playerColour, queenBorder ]">
  </div>
</template>

<script>
export default {
  name: 'Draught',
  props: {
    location: {
      type: Number
    },
    playerId: {
      type: Number
    },
    startingPlayer: {
      type: Number
    },
    draughtId: {
      type: Number
    },
    isQueen: {
      type: Boolean
    }
  },
  computed: {
    getCoordinate (n) {
      return [parseInt(n / 8), n % 8]
    },
    playerColour () {
      return this.playerId == this.startingPlayer ? 'dark' : 'light'
    },
    queenBorder () {
      return this.isQueen ? 'queen' : ''
    }
  },
  methods: {
    onClick(event) {
      this.$emit('click', event)
    },
    onDragStart(event) {
      this.$emit('dragstart', event)
    }
  }
}
</script>

<style scoped>
.circle {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 45px;
  height: 45px;
  border-radius: 40px;
}
.light{
  background-color: #FFF0FF;
}
.dark {
  background-color: #373F51;
}
.queen {
  border: 2px solid #04F06A;
}
</style>
